
<form (ngSubmit)="login()">
  <div class="login">
    <h1>Login</h1>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username">
  
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password">
     
    <p class="submit"><input type="submit" name="commit" value="Login"></p>
    <div *ngIf="loginError" class="error-message">
      Invalid username or password. Please try again.
    </div>
  </div>
  
</form>