.header-container {
  display: flex;
  align-items: center;
}

.header {
  background-color: #f8f9fa;  
  font-size: 28px;
  width: 100%;
  background: #0ca3d2;
  color: white;
  text-align: center;
}

.logout-icon {
  font-size: 24px; /* Adjust the size as needed */
  background-color: #0ca3d2;
  size: fit-content;
  border-radius: 50%;
}