<div>
  <h1>Subscription Items</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Description</th>
        <th>Periodicity</th>
        <th>Value</th>
        <th>Sub. Start</th>
        <th>Sub. End</th>
        <th>Bill. Start</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of subscriptionItems" [class.active]="item === selectedSubscriptionItem">
        <td>{{ item.id }}</td>
        <td>{{ item.subscriptionType }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.billingPeriodicity }}</td>
        <td>{{ item.billingValue }}</td>
        <td>{{ item.subscriptionStartDate }}</td>
        <td>{{ item.subscriptionEndDate }}</td>
        <td>{{ item.subscriptionStartBillingDate }}</td>        
        <td>
          <button class="btn btn-sm btn-primary" (click)="editSubscriptionItem(item)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteSubscriptionItem(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" (click)="addSubscriptionItem()">Add</button>
</div>
