header {
  background-color: #f8f9fa;  
  font-size: 28px;
  width: 100%;
  background: #0ca3d2;
  color: white;
  text-align: center;
}

ul li {
  list-style: square;
  background-color: #f8f9fa;
  
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  
  font-size: 15px;
  width: 100%;
  background: #0ca3d2;
  color: white;
  text-align: center;
}
