<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Subscription Management System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  
  <app-app-header> </app-app-header>

  <div class="w3-sidebar w3-bar-block w3-collapse w3-card">
    <div class="row">
      <div class="col-md-2 bg-light">
        <div >
          <ul>
            <li>
              <a class="w3-bar-item w3-ripple" routerLink="/home">Home</a>
            </li>
            <li>
              <a class="w3-bar-item w3-button" routerLink="/subscription-type-list">Subscription Type</a>
            </li>
            <li>
              <a class="w3-bar-item w3-button" routerLink="/subscription-item-list">Subscription Item</a>
            </li>
            <li>
              <a class="w3-bar-item w3-button" routerLink="/about">About</a>
            </li>            
          </ul>
        </div>
      </div>
      <div class="col-md-10 bg-light">        
          <!-- Main content area -->
          <router-outlet></router-outlet>        
      </div>
    </div>
  </div>
  
  <app-app-footer> </app-app-footer>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>